/*Section customer*/
.customer {
  height: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 94px;
  margin: 0;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    letter-spacing: 0.03em;
    text-align: center;
    color: $color-dos;
    padding-bottom: 50px;
    padding-top: 94px;
    margin: 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
    padding: 0;
    margin: 0;
  }
}

.customer__item {
  padding-bottom: 94px;
  column-gap: 30px;
}

.customer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 81px;
  border-radius: 4px;
  border: 1px solid;
  color: $icon-color;
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    color: $color-studio;
  }

  &--icon {
    height: 52.83px;
    padding: 7px 33px 0px 32px;
    fill: currentColor;
  }
}
