/*footer*/
.footer {
  height: 252px;
  background: $color-background;

  &__flex {
    display: flex;
    align-items: baseline;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-right: 70px;
    margin-left: 0;

    &--logo {
      font-family: 'Raleway', sans-serif;
      font-size: 26px;
      line-height: 1.1738;
      letter-spacing: 0.03em;
      color: $color-studio;
      text-decoration: none;
      padding-bottom: 6px;
      display: inline-block;
      margin: 0;
    }
  }
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.info {
  height: 95px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  position: relative;
  margin: 0;
  padding: 0;
}

.footer__link-button.address {
  color: $color-tres;
  transition: color 250ms $cubic;
}

.footer__link-button.email {
  color: $color-info-down;
  transition: color 250ms $cubic;
}

.footer__link-button.tel {
  color: $color-info-down;
  transition: color 250ms $cubic;
}

.footer__link-button {
  &:hover,
  &:focus {
    color: $color-studio;
    cursor: pointer;
  }

  &:visited {
    color: $color-dos;
  }

  &.address,
  &.email,
  &.tel {
    text-decoration: none;
  }
}

.footer__item-tel {
  display: block;
  padding-top: 7px;
}

/*--social networks--*/
.join {
  display: flex;
  flex-direction: column;

  &__title {
    text-transform: uppercase;
    color: $color-tres;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    letter-spacing: 0.03em;
    padding-bottom: 20px;
    margin: 0;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    column-gap: 10px;
  }
}

.join__item {
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.join__link {
  display: flex;
  color: $icon-color;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: $color-icon-footer;
  transition: color 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $color-studio;
    border-radius: 50%;
    color: $color-tres;
  }

  &--icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}

/*?--subscribe email--*/
.subscribe {
  display: flex;
  flex-direction: column;

  .subscribe__title {
    text-transform: uppercase;
    color: $color-tres;
    padding-bottom: 20px;
    margin: 0 0 0 93px;
    width: 275px;
    height: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.subscribe__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  &--input {
    color: $color-subscribe-input;
    width: 241px;
    height: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
    padding: 15px 101px 15px 16px;
    outline: none;
    margin-left: 93px;
    border-radius: 4px;
    border: 1px solid $color-border-input;
    box-shadow: $box-shadow5;
    background: $color-background;
    transition: border-color 250ms $cubic;
  }
}

/* Estilo del label (placeholder) */
.subscribe__item {
  position: absolute;
  top: 50%;
  right: 429px;
  transform: translateY(-60%);
  color: $color-subscribe;
  pointer-events: none;
  transition: 250ms $cubic;
  background: $color-background;
  border-radius: 2px;
  width: 130px;
  text-align: center;
}

/* input obtiene valor, ajusta estilo del label */
.subscribe__list--input:focus + .subscribe__item,
.subscribe__list--input:valid + .subscribe__item {
  top: -1px;
  font-size: 12px;
  color: $click-order;
  z-index: index;
  transition: 250ms $cubic;
  cursor: pointer;
  width: 113px;
  right: 432px;
  transition: 250ms $cubic;
}

.subscribe__list--input:not(:placeholder-shown) + .subscribe__item {
  background: $color-background;
  top: -1px;
  color: $click-order;
  font-size: 12px;
  width: 113px;
  right: 432px;
}

.subscribe__list--input::placeholder {
  transition: color 250ms ease, transform 250ms ease;
}

.subscribe__list--input:hover,
.subscribe__list--input:focus,
.subscribe__list--input:active {
  border-color: $color-studio;
  cursor: pointer;
}

.subscribe__link {
  position: relative;
  margin-left: 12px;
  padding: 10px 72px 10px 39px;
  width: 200px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 4px;
  box-shadow: $box-shadow5;
  background-color: $color-studio;
  border-color: $color-studio;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: $color-tres;
  text-align: center;
  transition: fill 250ms $cubic;

  &:hover,
  &:focus {
    background-color: $click-order;
    cursor: pointer;
  }
}

.subscribe__link--icon {
  position: absolute;
  top: 50%;
  left: 143px;
  transform: translateY(-50%);
  display: flex;
  column-gap: 10px;
  color: $color-tres;
  background-color: $color-studio;
  transition: fill 250ms $cubic;
}
