/* --Backdrop--*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $shadow-backdrop;
  transition: opacity 250ms ease-in-out, visibility 250ms ease-in-out;

  &--is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  background: $color-tres;
  box-shadow: $box-shadow1, $box-shadow2, $box-shadow3;

  &__close {
    display: block;
    position: absolute;
    top: 8px;
    height: 8px;
    width: 30px;
    height: 30px;
    margin-left: 490px;
    fill: $color-stroke;
    background-color: $color-tres;
    border: 1px solid $color-border-stroke;
    stroke-width: 1px;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      fill: $color-studio;
      cursor: pointer;
    }

    &-icon {
      width: 11px;
      height: 11px;

      &:hover {
        fill: $color-studio;
        cursor: pointer;
      }
    }
  }
}

/*?-- Form --*/
.modal__form {
  font-family: 'Roboto', sans-serif;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;

  &-title {
    width: 448px;
    margin-top: 38.5px;
    margin-left: 41px;
    margin-right: 39px;
    margin-bottom: 2px;
    text-align: center;
    color: $color-dos;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.172;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &-list {
    margin-top: 10px;
    margin-left: 41px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.01em;
    text-align: left;
    color: $color-uno;
  }
}

.modal__item {
  position: relative;

  &:hover,
  &:focus-within,
  &:active {
    fill: $color-studio;
    cursor: pointer;
  }

  &-input {
    margin-top: 4px;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 42px;
    width: 402px;
    height: 40px;
    border: 1px solid $color-border-modal;
    border-radius: 4px;

    &:hover,
    &:focus {
      border-color: $color-studio;
      cursor: pointer;
    }
  }
}

.modal__link {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  top: 50px;
  margin-left: 53px;
  transition: fill 250ms $cubic;
  transform: translateY(-180%);
}

.modal__label {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 41px;
  margin-right: 39px;
  font-family: inherit;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.01em;
  text-align: left;
  width: 448px;
  margin-bottom: 20px;
  color: $color-uno;

  &-textarea {
    resize: none;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    width: 414px;
    height: 90px;
    padding: 12px 16px;
    border: 1px solid $color-border-modal;
    border-radius: 4px;
    flex-shrink: 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.01em;
    text-align: left;
    outline: none;
    transition: border-color 250ms $cubic;

    &::placeholder {
      color: $color-modal-textarea;
    }
  }

  &:hover .modal__label-textarea,
  &:focus-within .modal__label-textarea {
    border-color: $color-studio;
    cursor: pointer;
  }
}

/* checkbox */
.modal__checkbox {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-text {
    position: relative; /* posiciona el pseudo-elemento */
    display: inline flex;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;
    color: $color-uno;
    padding: 0;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 51px;
    cursor: pointer;

    &::before {
      content: '';
      display: inline-block;
      margin-right: 7px;
      top: 1px;
      width: 16px;
      height: 15px;
      border: 1px solid $color-uno;
      margin-top: -25px;
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: center;
      transition: background-color 250ms $cubic, border 250ms $cubic, fill 250ms $cubic;
      cursor: pointer;
    }
  }
}

.modal__checkbox-active {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute; /* Superponer el checkbox visual */
  top: 0; /* Alineación vertical superior - checkbox */
  left: 0; /* Alineación horizontal izquierda - checkbox */
  opacity: 0; /* Checkbox invisible - interactivo */

  &:checked + .modal__checkbox-text::before {
    background-color: $color-studio;
    border: 1px solid $color-uno;
    border-radius: 2px;
    background-image: url('../images/icons/checked.svg');
  }

  &:focus + .modal__checkbox-text::before {
    border-color: $click-order;
  }
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.modal__checkbox-button {
  margin: 14px 163px 50px 165px;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: $color-studio;
  box-shadow: $box-shadow5;
  color: $color-tres;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  display: inline-block;
  align-items: center;
  align-self: center;
  padding: 10px 56px;
  cursor: pointer;
  border: none;

  &:hover,
  &:focus-visible {
    background-color: $click-order;
    cursor: pointer;
  }
}
