/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');

/*colors*/
$color-uno: #757575;
$color-dos: #212121;
$color-tres: #ffffff;
$color-cuatro: #f5f4fa;
$color-cinco: #2172f3;
$color-seis: #ececec;
$color-studio: #2196f3;
$color-background: #2f303a;
$color-banner-background: #2f303a66;
$color-img-background: #2196f3e5;
$click-order: #188ce8;
$color-icon-footer: #ffffff1a;
$icon-color: #afb1b8;
$color-project: #eeeeee;
$color-subscribe: #9c9c9c;
$color-subscribe-input: #ffffff99;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$box-shadow1: 0px 2px 1px 0px #00000033;
$box-shadow2: 0px 1px 1px 0px #00000024;
$box-shadow3: 0px 1px 3px 0px #0000001f;
$box-shadow4: 0px 4px 4px 0px #00000040;
$box-shadow5: 0px 4px 4px 0px #00000026;
$box-shadow6: 0px 1px 3px #0000001f;
$box-shadow7: 0px 1px 1px #00000024;
$box-shadow8: 0px 2px 1px #00000033;
$box-shadow9: 0px 1px 1px #0000001f;
$box-shadow10: 0px 4px 4px #0000000f;
$box-shadow11: 1px 4px 6px #00000029;
$color-stroke: #000000;
$color-border-stroke: #0000001a;
$color-border-modal: #21212133;
$color-modal-textarea: #58585890;
$color-border-input: #ffffff4d;
$color-background-card: #2f303acc;
$shadow-backdrop: #00000033;
$shadow-transition: box-shadow 250ms $cubic;
$color-info-down: rgba(255, 255, 255, 0.6);
